body {
    font-family: 'Segoe UI', sans-serif;
}
h2 {
    font-weight: 600;
}
.table td, .table th {
    vertical-align: middle;
}

/* Tambahkan border pada tabel */
.table, .table th, .table td {
    border: 1px solid #dee2e6;
    border-collapse: collapse;
}
